.container {
	width: 50%;
	margin-top: 100px;
	border-radius: 15px;
	border: 2px solid #f3f3f3;
	padding: 30px 30px;
	box-shadow: 0 0 14px 0 rgba(0,0,0, 0.2);
}

.form-group {
	margin-left: 15px;
	margin-right: 15px;

}

.buttons {
	padding: 15px 20px;
	text-align: right;
}