.container {
	margin-top: 100px;
	border-radius: 15px;
	border: 2px solid #f3f3f3;
	padding: 30px 30px;
	box-shadow: 0 0 14px 0 rgba(0,0,0, 0.2);
}

.table {
	text-align: center;
}

.form-group {
	text-align: center;
}