.container {
	margin-top: 200px;
	border-radius: 15px;
	border: 2px solid #f3f3f3;
	padding: 20px 20px;
	box-shadow: 0 0 14px 0 rgba(0,0,0, 0.2);
}

.login {
	text-align: center;
}

.alert {
	text-align: center;
}